<div class="container">
  <div class="event-full">
    <div class="event-cover">
      <img
        src="https://images.unsplash.com/photo-1530539967144-47f24f9832e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80"
        alt="Event cover"
      />
    </div>
    <div class="event-description">
      <h1 class="event-title">Security Talk</h1>
      <p class="event-about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel est
        scelerisque, egestas mauris vel, venenatis ante. Sed maximus a lorem eu
        pretium. Etiam commodo pellentesque ex. Nam quis ipsum posuere,
        elementum nisl vitae, semper dui. Ut sodales luctus nisi vitae
        porttitor. Morbi eu eleifend libero. Nunc ut tortor arcu. Nam sit amet
        neque quis turpis mollis commodo. Aliquam eu lorem id urna malesuada
        varius. Praesent interdum, ipsum id ornare eleifend, sem ex interdum
        nibh, non aliquam ante metus ac nulla. Nam urna neque, tempus sed nisl
        id, aliquet porta mi. Praesent vitae massa et justo fringilla efficitur.
        Donec in leo cursus, varius tortor tristique, semper tellus. Praesent
        quis arcu id nisl consequat congue. Ut a nunc condimentum, auctor nisi
        a, tincidunt purus. In faucibus egestas quam, id auctor diam.
      </p>
    </div>
  </div>
</div>
