<footer class="container">
  <div class="footer">
    <div class="info-box">
      <div class="flex-container">
        <ul class="">
          <ul>
            <div class="flex-item">
              <img 
                src="https://images.unsplash.com/photo-1530539967144-47f24f9832e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80"
                width=10%
                height=10%
                >
            </div>

            <div>
              <url>
                <li>IT-Universitetet i København</li>
                <li>Rued Langgaards Vej 7</li>
                <li>2300 København S</li>
                <li>Danmark</li>
              </url>
            </div>  

            <div>
              </ul>
              <a
                href="mailto:contact@itu-innovators.dk?Subject=Hello%20from%20website"
                class="email-btn">
              </a> contact@itu-innovators.dk
            </div>


          </ul>
        </ul>
      </div>
    </div>
  </div>
</footer>
