<footer class="container">
  <div class="footer">
    <div class="info-box">
      <div class="contact-info">
        <ul>
          <li><p>Rued Langgaards Vej 7</p></li>
          <li><p>2300 København S</p></li>
          <li>
            <a
              href="mailto:contact@itu-innovators.dk?Subject=Hello%20from%20website"
              class="email-btn"
            ></a>
            contact@itu-innovators.dk
          </li>
        </ul>
      </div>
      <div class="social-info">
        <ul>
          <li>Insta</li>
          <li>FB</li>
          <li>Linkedin</li>
        </ul>
      </div>
    </div>
    <div class="contact-box">
      <a href="#" class="inverseclean-btn btn">Get in touch with us -></a>
    </div>
  </div>
</footer>
