<footer class="container">
  <div class="logo-and-info">
    <img class="footer-logo" src="app/assets/icons/logo-color.svg" />
    <ul class="list-inno-info">
      <li class="inno-info">IT University of Copenhagen</li>
      <li class="inno-info">Rued Langgaards Vej 7</li>
      <li class="inno-info">2300 Copenhagen S</li>
      <li class="inno-info">Denmark</li>
    </ul>
    <img
      class="footer-logo-white-large"
      src="app/assets/icons/logo-white-large.svg"
    />
  </div>
</footer>
