<nav class="container">
  <ul class="header">
    <li class="nav-logo">
      <img src="app/assets/imgs/Horizontal White BG.svg" class="logo-svg" />
    </li>
    <li class="nav-link">
      <a href="#" class="link-btn btn">events</a>
    </li>
    <li class="nav-link">
      <a href="#" class="link-btn btn">about</a>
    </li>
    <li class="nav-link">
      <a href="#" class="link-btn btn">partnerships</a>
    </li>
    <li class="nav-link">
      <a href="#" class="link-btn btn">contact</a>
    </li>
  </ul>
</nav>
